.Analitic--task {
  display: flex;
  flex-direction: column;
}

.task--title {
  align-self: center;
  margin-bottom: 20px;
}

.task--pic {
  width: 50%;
  margin-bottom: 20px;
  align-self: center;
}

.task--text {
  text-align: left;
  color: var(--main-theme-color);
  margin-bottom: 20px;
}

.Analitic--buttonContainer {
  display: flex;
  flex-direction: column;
  color: var(--main-theme-color);
}

.buttonContainer--row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column--label {
  margin-bottom: 5px;
}

.buttonContainer--row .button {
  width: 100%;
  margin-right: 5px;
}

.buttonContainer--row .button:last-child {
  margin-right: 0;
}

.Analitic--buttonContainer__landscape {
  display: none;
}

@media all and (orientation: landscape) {
  .Analitic--task {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .task--title {
    flex: 0 0 100%;
    text-align: center;
  }

  .task--pic {
    flex: 1;
    max-width: 25%;
    margin-bottom: 0;
  }

  .task--text {
    flex: 1;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .Analitic--buttonContainer {
    display: none;
  }

  .Analitic--buttonContainer__landscape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    margin-top: 20px;
  }

  .buttonContainer--column {
    display: flex;
    margin-right: 5px;
  }

  .buttonContainer--column:last-child {
    margin-right: 0;
  }

  .buttonContainer--column__label {
    color: var(--main-theme-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 10px;
  }
}
