.Greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Greetings--text {
  margin-top: 20px;
}

@media all and (orientation: landscape) {
  .Greetings {
    flex-direction: row;
  }

  .Greetings--text {
    margin-right: 30px;
    margin-top: 0;
  }
}
